#h1-table{

    margin: 10px auto;
    caption{
            font-family: kaiti;
    text-align: center;
    font-size: 66px;
    }
    width: 1000px;
    text-align: center;
    tr,th{
        line-height: 30px;
    }
   thead{
       font-family: heiti;
   }
   tbody{
       font-family: kaiti;
   }
}
